h1{
color:red;
}

body{

backgroud-image:url(https://www.microtech.es/hubfs/Fotos%20blog/inventario.jpg)
}
.parrafo{

color:blue;
}

body{
    background-image: url(https://www.microtech.es/hubfs/Fotos%20blog/inventario.jpg);
height: 100vh;
background-size: contain;
background-repeat: no-repeat;

}
.contenedor-principal{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}

.contenedor-login{
    display: flex;
    background-color: whitesmoke;
    width: 100px;
   
}

.formulario-contenedor{
    display: flex;
    flex-direction: column;
}

.formulario-contenedor button{
    background-color: #e83565;
    color: white;
    border: none;
    height: 35px;
    margin: 15px;
    font-weight: bold;
    border-radius: 5px;
}