h1{
color:red;
}

body{

backgroud-image:url(https://www.microtech.es/hubfs/Fotos%20blog/inventario.jpg)
}
.parrafo{

color:blue;
}

body{
    background-image: url(https://www.microtech.es/hubfs/Fotos%20blog/inventario.jpg);
height: 100vh;
background-size: contain;
background-repeat: no-repeat;

}
.contenedor-principal{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}

.contenedor-login{
    
    background-color: red;
   
}